<section>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6">
                <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="assets/img/story-l.jpg"></div>
            </div>
            <div class="col-md-6 d-md-flex align-items-md-center">
                <div style="max-width: 350px;">
                    <h2 class="text-uppercase fw-bold">StoriesUniverse brings you stories to make your day.</h2>
                    <p class="my-3">To get started with the habit of keeping your mind at peace before sleep, scroll through our vast categories of our little entertainment industry.</p><a class="btn btn-primary btn-lg me-2" role="button" href="#" style="background: rgb(11,76,173);">Get Started</a><a class="btn btn-outline-secondary btn-lg" role="button" href="#" style="background: #530769;">Donate</a>
                </div>
            </div>
        </div>
    </div>
</section>
