<footer>
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a href="#">Stories<span>Universe</span></a></h3>
            <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Donate</a><strong> · </strong><a href="#">Contact</a><strong> · </strong><a href="#">Categories</a><strong> · </strong><a href="#">About</a></p>
            <p class="company-name">StoriesUniverse © 2022</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">Molyko</span>Buea, Cameroon</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-start">+237&nbsp; 6 93 30 21 13</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank"><br><strong>support@storiestorelax.works</strong><br><br></a></p>
            </div>
        </div>
        <div class="col-md-4 footer-about">
            <h4>About the company</h4>
            <p>Stories Universe gets you out of your boring sad day with lots of stories, comedy, novels advice and much more.&nbsp;</p>
            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
        </div>
    </div>
</footer>
