<section>
    <div class="container">
        <div class="text-center">
            <h2 style="color: #75aadb;">Testimonials</h2>
        </div>
        <div class="row">
            <div *ngFor="let i of [1,2,3]" class="col-md-4">
                <div class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000" id="carousel-t">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="col-9 text-center mx-auto testimonial-content"><img class="rounded-circle" src="assets/img/test-man.jpg" width="100">
                                <p class="text-center rating">5&nbsp;<i class="icon ion-star"></i></p>
                                <p class="text-center"><em>"Lorem ipsum dolor sit amet, nec cu omnium ponderum instructior, eligendi gubergren cotidieque te eam. "</em><br></p>
                                <p class="signature">John D.</p>
                                <p class="text-center date">April 21, 2014<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>